<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center header">
            <h1>Quotes</h1>
        </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-5 Form">
          <app-quote-form></app-quote-form>
      </div>
      <div class="col-md-6 Quotes">
          <div *ngFor='let quote of quotes' class="box">
            <p class="text-left">"{{quote.quote}}"- {{quote.author}}</p>
            <p class="text-right">Posted by {{quote.name}}</p>
            <p>UpVotes  DownVotes</p>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center footer">
        <p>Copyright &copy; 2020</p>
        </div>
    </div>
  </div>