<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center header">
            <h1>Quotes</h1>
        </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-5 Form">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
      <div class="col-md-6 Quotes">
          <div *ngFor='let quote of quotes;let i = index' class="box">
            <p class="text-left">"{{quote.quote}}"</p>  
            <p> <button (click)='upVotesCount(i)' class=" btn btn-success">UpVotes</button>
                <button (click)='downVotesCount(i)' class="btn btn-danger">DownVotes</button>
                <button (click)='viewDetails(i)' class="btn btn-primary">View Details</button>
                <app-quote-detail *ngIf='quote.showDetails' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail></p> 
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center footer">
        <p>Copyright &copy; 2020</p>
        </div>
    </div>
  </div>